@page
@model IndexModel

<div id="get-index">
    <a class="nav-link text-dark" asp-area="" asp-page="/Products/Get/index" style="font-family: 'Roboto'">Add product</a>
    <br />

    <table id="product" class="table table-bordered table-hover">
        <thead>
            <tr class="">
                <td>Name</td>
                <td>Price</td>
                <td>Quantity</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model.ProductViewModel.Product)
            {
                <tr style="height: 60px;">
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                </tr>
            })
        </tbody>
    </table>
</div>
